.InputContainer {
  display: flex;
  flex-direction: column;
}

.Select,
.TextInput {
  margin-top: 0.5rem;
  padding-left: 8px;
  width: calc(100% - 8px);
  height: 50px;
  border-radius: 6px;
  border: 2px solid;
  border-color: var(--gray);
}

.Select {
  width: 100%;
}

.Select:focus,
.TextInput:focus,
.FileMask:focus {
  outline: 2px solid black;
  outline-offset: -6px;
}

.Select:hover,
.TextInput:hover,
.FileMask:hover {
  border-color: var(--gray);
  opacity: 0.8;
}

.SelectOption {
  height: 40px;
}

select:focus > option:checked {
  background: var(--primary-color);
  opacity: 0.8;
  color: var(--white);
}

.CheckboxContainer {
  display: flex;
  align-items: center;
  width: max-content;
  margin-top: 1rem;
}

.Checkbox {
  width: 24px;
  height: 24px;
  color: var(--gray);
  margin-right: 1rem;
}

.RadioContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: 6px;
  margin-top: 0.5rem;
}

.RadioMask {
  width: 20%;
  position: relative;
  display: inline-block;
}

.RadioMask input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 50px;
  z-index: var(--z-index-highest);
  cursor: pointer;
}

.RadioMask span {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: var(--white);
  border: 2px solid #333;
}

.RadioMask:first-child span {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.RadioMask:last-child span {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.RadioMask input:checked + span {
  background-color: var(--primary-color);
  color: var(--white);
  border-color: var(--primary-color);
}

.RadioMask input:hover + span {
  background-color: var(--primary-color);
  opacity: 0.8;
  transition: background-color 150ms ease-in;
}

.InputLabel {
  margin-top: 1rem;
  color: var(--gray);
  font-size: 14px;
  font-weight: 300;
}
.CheckboxLabel {
  color: var(--gray);
}

@media screen and (max-width: 420px) {
  .CheckboxLabel {
    max-width: 50%;
  }
}

.FileMask {
  width: 100%;
  position: relative;
  display: inline-block;
  border: none;
}
.FileMask input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 50px;
  cursor: pointer;
  border: none;
  margin-top: 0.5rem;
  z-index: var(--z-index-highest);
}

.FileMask span {
  margin-top: 0.5rem;
  display: flex;
  border: 2px dashed;
  border-color: var(--gray);

  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.ErrorInput {
  border: 1px solid #c41111 !important;
}

.ErrorText {
  color: #c41111;
}
