.Button {
  background-color: var(--primary-color);
  color: var(--off-white);
  border: none;
  padding-inline: 2rem;
  padding-block: 0.5rem;
  border-radius: 6px;
  margin-top: 2rem;
  font-weight: 500;
  font-size: 14px;
}

.Button:hover {
  cursor: pointer;
  background-color: var(--primary-color);
  opacity: 0.8;
  transition: background-color 150ms ease-in;
}

.Button:active {
  scale: 0.95;
  transition: scale 150ms ease-in;
}
